
.home-page__donation-form #donate {
    max-width:460px;
}

#home-page__cta {
    margin: 200px 0 100px;
}
#home-page__cta h2 {
    margin-bottom: 50px;
}

#home-page__cta h1, #home-page__cta h2 {
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    text-align: center;
}


#home-page__action-buttons {
    width:100%;
    text-align: center;
    padding: 50px 0;
}
